* {
  margin: 0;
  padding: 0;
}

.blueBg {
  background-color: rgb(66, 66, 230);
}

.my-header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 16px;
  padding-top: 12px;
}

#Banner {
  margin-bottom: 84px;
}

#Banner img {
  width: 100%;
}

.Puppy-section {
  display: flex;
  margin: 0 50px;
}

img {
  max-width: 100%;
}

.text-2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.puppy-1,
.Missing-Puppy,
.puppy-2 {
  width: 33%;
}

.Missing-Puppy {
  background-color: rgb(238, 72, 72);
  margin: 0 15px;
}
.missing-wraper {
  font-size: 40px;
  padding: 50px;
}

.puppy-1 img,
.Missing-Puppy img,
.puppy-2 img {
  width: 100%;
}

.puppy2-section {
  display: flex;
}
.image-3 {
  margin-left: 50px;
  padding-right: 20px;
}

.image-4 {
  margin-left: 30px;
}

footer {
  margin-top: 50px;
  padding-top: 20px;
  text-align: center;
  color: white;
}

footer h1 {
  padding-bottom: 20px;
}
